body {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mytrash-85b30.appspot.com/o/WebsiteImages%2Fbackgroundimage.jpeg?alt=media&token=deb3febd-d6fb-4512-a099-9b605b520bb5");
  /*background-color :#FFFFFF;*/
  background-repeat: no-repeat;
  background-size: auto;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.main-div, .loggedin-div, .scheduleScreen-div, .trashbin-div {
  width: 25%;
  margin: 0px auto;
  margin-top: 100px;
  padding: 20px;
  display: none;
}

.main-div input, .scheduleScreen-div input, .trashbin-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus, .scheduleScreen-div input:focus, .trashbin-div input:focus {
  border: 1px solid #777;
}

.main-div button, .loggedin-div button, .scheduleScreen-div button, .trashbin-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover, .scheduleScreen-div button:hover, .trashbin-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}
